@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

:root {
    --black: #000000;
    --orange: #F76902;
    --white: #FCFCFC;
    --gray: #F1F1F1;
    --darkGray: #D0D3D4;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black);
    font-family: "Neuton", serif;
    /* Otherwise max font size is 37px, min is 19px */
    font-size: max(19px, min(4vmin, 37px));
    overflow-x: hidden;
}

/* Header */
header div {
    background-color: var(--orange);
    height: 212px;
    width: 100%;
    rotate: -1.7deg;
    border-radius: 43px;
    position: absolute;
    z-index: -1;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
    padding: 0;
    text-align: center;
    position: relative;
    top: 20px;
}
header nav ul a, header nav ul i {
    text-decoration: none;
    color: var(--white);
    /* Otherwise max font size is 37px, min is 23px */
    font-size: max(23px, min(4vmin, 37px));
    margin: 0 5px;
}
header nav ul a:hover {
    color: var(--black);
}
header nav ul a:active {
    color: var(--white);
}
header img {
    margin: 10px auto;
    display: block;
}
.active {
    color: var(--black);
    pointer-events: none;
}
/* Header for mobile screens */

/* hamburger-icon */
header section {
    margin: 0 auto;
    display: none;
    position: relative;
    width: 100%;
    cursor: pointer;
    rotate: 1.7deg;
}

header section div {
    width: 35px;
    height: 8.5px;
    background-color: var(--orange);
    border: 3px var(--white) solid;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
    position: relative;
    top: 18px;
    left: 80%;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-38%, 100%);
    transform: rotate(-45deg) translate(-38%, 100%);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-30%, -100%);
    transform: rotate(45deg) translate(-30%, -100%);
    margin-bottom: 20px;
}

/* mobile-menu after clicking hamburger-icon */
.open ul {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    /*background-color: var(--orange);*/
    padding: 0;
    border-radius: 40px;
    rotate: -1.7deg;
}

/* mobile menu hidden until hamburger-icon clicked */
header section ul {
    display: none;
}

header section ul li {
    margin: 10px;
    list-style: none;
}

header section ul li a {
    text-decoration: none;
    /* Otherwise max font size is 37px, min is 23px */
    font-size: max(23px, min(4vmin, 37px));
    color: var(--white);
}
header section ul li a:hover {
    color: var(--black);
}

header section ul li a:active {
    color: var(--white);
}

header .hideInDesktop {
    position: absolute;
    left: 10px;
}

/* hides desktop navigation links when screen width is less than 500px */
@media only screen and (max-width: 500px) {
    header .hideInMobile {
        display: none;
    }

    header section {
        display: block;
    }
}
/* Main */
main {
    background-image: url("/assets/img/background.png");
    background-color: var(--gray);
    margin-top: 35px;
    width: 100%;
    padding-bottom: 110px;
    border-radius: 41px 41px 0 0;
}
.bigContentBox {
    width: 91%;
    background-color: var(--white);
    border-radius: 46px;
    margin: 0 auto;
    padding: 25px 12.5px 10px 12.5px;
    position: relative;
    top: 40px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid var(--orange);
}
h1 {
    color: var(--orange);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 25px;
    /* Otherwise max font size is 37px, min is 23px */
    font-size: max(23px, min(4vmin, 37px));
}
h2 {
    /* Otherwise max font size is 31px, min is 20px */
    font-size: max(20px, min(4vmin, 31px));
    color: var(--black);
    font-weight: bold;
    text-align: center;
    margin: 0 2px 10px 2px;
}
.blackBox {
    width: 95%;
    background-color: var(--black);
    border-radius: 46px;
    margin: 0 auto 20px auto;
    position: relative;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid var(--orange);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.grayMainBox {
    flex: 1; /* Allow flex items to grow and shrink equally */
    width: calc(50% - 4%);
    /*max-width: fit-content;*/
    background-color: var(--gray);
    border-radius: 46px;
    margin: 2%;
    padding-top: 10px;
    position: relative;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid var(--orange);
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 4%);
}
.whiteParagraphBox {
    flex: 1;
    width: 100%;
    background-color: var(--white);
    border-radius: 46px;
    margin: 0;
    padding: 10px;
    position: relative;
    border-top: 4px solid var(--orange);
}
main p {
    text-indent: 4ch;
    margin: 2px auto;
    /* Otherwise max font size is 27px, min is 16.5px */
    font-size: max(16.5px, min(4vmin, 27px));
    max-width: 650px;
}
main a, main ul, main ul li {
    /* Otherwise max font size is 27px, min is 16.5px */
    font-size: max(16.5px, min(4vmin, 27px));
}
main a, main p, .breakWord {
    word-wrap: break-word; /* Allows links to wrap within the container */
    white-space: normal; /* Resets white-space property for links */
}
main img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 35px;
}
.orange {
    color: var(--orange);
}
.orange:hover {
    color: var(--black);
}
.orange:active {
    color: var(--orange);
}
/* Footer */
footer a {
    color: var(--orange);
    word-wrap: break-word; /* Allows links to wrap within the container */
    white-space: normal; /* Resets white-space property for links */
}
footer a:hover {
    color: var(--white);
}
footer a:active {
    color: var(--orange);
}
footer p {
    color: var(--white);
    bottom: 60px;
    position: relative;
    padding: 0 20px 20px 20px;
}
footer {
    padding-top: 10px;
    position: relative;
    background-color: var(--black);
    height: 100px;
}
.roundedCorners {
    background-color: var(--black);
    height: 70px;
    width: 100%;
    border-radius: 43px;
    position: relative;
    bottom: 40px;
    right: 0;
}
@media screen and (max-width: 932px) {
    .blackBox {
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .grayMainBox {
        flex-basis: 100%;
    }
}
/* Mobile Phone nav bar */
@media screen and (max-width: 500px) {
    header img {
        margin: 10px auto;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .whiteParagraphBox {
        padding: 10px 0;
    }
    .bigContentBox {
        width: 100%;
        padding: 25px 10px 10px 10px;
    }
    .blackBox {
        padding: 10px 5px;
        width: 100%;
    }
    main p, main h2 {
        padding: 0 10px;
    }
    main ul li {
        padding-right: 10px;
    }
    main h1 {
        margin-bottom: 20px;
    }
}
/* hides mobile link when screen width is greater than 500px */
@media only screen and (min-width: 500px) {
    header .hideInDesktop {
        display: none !important;
    }
}

